page-finding {
  .row-block{
     height: 1em; 
     width: 100%;
     background-color: ghostwhite;
     border: 0.1em solid gainsboro;
 }

  .qr-scanner-icon-color{
   color: deepskyblue;
 }

  .location-icon-color{
   color: deepskyblue;
 }

 .shake-icon-color{
   color: deepskyblue;
 }
}
